:root {
	/* Spacing Scale */
	/* Base multiplier: 4 */
	/* Total values: 26 */
	--spacing-0: 0px;
	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 16px;
	--spacing-5: 20px;
	--spacing-6: 24px;
	--spacing-7: 28px;
	--spacing-8: 32px;
	--spacing-9: 36px;
	--spacing-10: 40px;
	--spacing-11: 44px;
	--spacing-12: 48px;
	--spacing-13: 52px;
	--spacing-14: 56px;
	--spacing-15: 60px;
	--spacing-16: 64px;
	--spacing-18: 72px;
	--spacing-20: 80px;
	--spacing-1px: 1px;
	--spacing-2px: 2px;
	--spacing-3px: 3px;
	--spacing-5px: 5px;
	--spacing-6px: 6px;
	--spacing-10px: 10px;
	--spacing-14px: 14px;
}
